@font-face {
    font-family:'Italiana';
    src: url(/Italiana-Regular.ttf);
}
@font-face {
    font-family:'Nunito';
    src: url(/Nunito-VariableFont_wght.ttf);
}

body {
font-family:'Nunito', Arial, Helvetica, sans-serif ;
background-color: rgb(198, 163, 230);
line-height: 1rem;
position: relative;
}

h1, h2, h3, h4{
    font-family: 'Italiana',Arial, Helvetica, sans-serif;
}

p{
    font-weight:bold;
    color: white;
}

img {
    aspect-ratio: 16/9;
    width: 20rem;
}

figcaption {
    font-weight: bold;
    color: rgb(108, 155, 13);
    position: absolute;
    top: 65%;
    right: 50%;
}

ul li:last-child {
   color: aqua;
}